html
  head
    title= "DPC Etiquetas"
    link(rel="stylesheet", href="css/main.css")
    block styles
  body
    block content

    script(
      type="text/javascript",
      src="js/common.js"
    )

    block scripts